* {
  margin: 0;
  padding: 0;
}

a, a:hover {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}

@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  .header .header__nav {
    display: none;
  }
  .header .header__nav .header__nav--item {
    width: 90%;
  }
  .header .header__submit .header__submit__label {
    display: none;
  }
}
.hero .hero__pig .hero__pig--img {
  width: 90%;
}
.hero .hero__pig .hero__enot {
  width: 90%;
}

body {
  background: #252B42;
}

.container {
  width: 1140px;
  margin: auto;
}

#header {
  position: absolute;
  width: 100%;
  padding: 15px 0;
}
#header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header__nav--item {
  margin: 0 10px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
#header .header__nav--item:hover {
  color: #252B42;
  transition: 0.5s;
  cursor: pointer;
}
#header .header__submit {
  display: flex;
  justify-content: space-between;
}
#header .header__submit__label {
  background: #EFEFEF;
  border: 1px solid #E8E8E8;
  box-sizing: border-box;
  border-radius: 39px;
  padding: 6px 60px;
  margin: 0 5%;
}
#header .header__submit__label__input {
  background: #EFEFEF;
  outline: none;
  border: none;
  width: 90%;
  padding: 5%;
}
#header .header__submit__btn {
  background: #FFFFFF;
  border-radius: 35px;
  padding: 10px 25px;
}
#header .header__submit__btn:hover {
  background: #9dc5e3;
  transition: 0.5s;
  cursor: pointer;
}

#hero {
  background: url("../img/bg1.png") no-repeat center/cover;
  min-height: 100vh;
}
#hero .hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hero .hero__pig {
  margin-left: -150px;
  margin-top: 15%;
}
#hero .hero__title {
  margin-top: 30%;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  line-height: 66px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
#hero .hero__desc {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  padding: 25px 0;
  color: #FFFFFF;
}
#hero .hero__btn2 {
  background: #FFFFFF;
  border-radius: 35px;
  padding: 16px 40px;
}
#hero .hero__btn2:hover {
  background: #f106ae;
  transition: 0.5s;
  cursor: pointer;
  color: #7834BE;
}

#code .code {
  margin: 6% 0;
}
#code .code__top {
  color: #FFFFFF;
  text-align: center;
}
#code .code__rop {
  color: #FFFFFF;
  text-align: center;
  font-size: 46px;
  padding: 2% 0;
}
#code .code__not {
  color: #FFFFFF;
  text-align: center;
}
#code .code__option {
  display: flex;
  justify-content: space-between;
}
#code .code__option--elem {
  padding: 6%;
}
#code .code__option--elem .code-menu {
  display: flex;
  flex-direction: row;
}
#code .code__option--elem .code-menu .code__caps {
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}
#code .code__option--elem .shift {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

#gitHub .gitHub {
  margin-bottom: 30px;
}
#gitHub .gitHub__fn {
  font-size: 46px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
#gitHub .gitHub__clone {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
#gitHub .gitHub__buttons {
  margin-bottom: 50px;
  background: #38A3F1;
  border-radius: 35px;
  padding: 16px 45px;
  margin-left: 42%;
}
#gitHub .gitHub__buttons:hover {
  background: #9dc5e3;
  transition: 0.5s;
  cursor: pointer;
  color: #252B42;
}
#gitHub .gitHub__fff {
  margin-left: 50px;
  line-height: 30px;
}

#color {
  margin-bottom: 30px;
}
#color .color {
  margin: 170px;
}
#color .color__box {
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}
#color .color__fox {
  margin: 20px;
  font-size: 46px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
#color .color__fas {
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  margin-left: 34%;
}
#color .color__fes {
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin-left: 36%;
}
#color .color__cusok {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}
#color .color__cusok__aser {
  background: #F4F4F4;
  border: 1px solid #E8E8E8;
  box-sizing: border-box;
  border-radius: 39px;
  padding: 8px 54px;
  margin: 10px;
}
#color .color__cusok__aser__reset {
  background: #EFEFEF;
  outline: none;
  border: none;
  width: 90%;
  padding: 5%;
}
#color .color__cusok__index {
  background: #EF2779;
  border-radius: 35px;
  padding: 15px 95px;
}
#color .color__cusok__index:hover {
  background: #9dc5e3;
  transition: 0.5s;
  cursor: pointer;
  color: #252B42;
}

#book .book__groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#book .book__lobel {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 37px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  width: 20vw;
  margin: 20px 0;
  text-align: center;
}
#book .book__text {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  margin: 20px 0;
  text-align: center;
}
#book .book__import {
  margin-left: 110px;
}
#book .book__h1 {
  text-align: center;
  color: #FFFFFF;
  font-size: 46px;
  margin: 20px;
}
#book .book__font {
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
  letter-spacing: 0.2px;
  margin: 20px;
}
#book .book__movie {
  display: flex;
  justify-content: center;
  margin: 80px;
}
#book .book__movie__none {
  margin: 40px;
  color: #FFFFFF;
  padding: 16px 60px;
  background: #38A3F1;
  border-radius: 35px;
}
#book .book__movie__none:hover {
  background: #9dc5e3;
  transition: 0.5s;
  cursor: pointer;
  color: black;
}

#drop .drop {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#drop .drop__lopes {
  text-align: center;
  color: #FFFFFF;
  font-size: 40px;
}
#drop .drop__url {
  margin: 50px;
}
#drop .drop__yers {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin: 60px;
}
#drop .drop__img-s {
  position: absolute;
  left: 43%;
  top: 561%;
}
#drop .drop__h5 {
  font-size: 12px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  margin: 5px;
}
#drop .drop__h4 {
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
#drop .drop__html {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#drop .drop__html--buts {
  background: #38A3F1;
  border-radius: 35px;
  padding: 16px 47px;
  margin: 6%;
  color: #FFFFFF;
  transition: 0.2s;
}
#drop .drop__html--buts:hover {
  background: #9dc5e3;
  color: #252B42;
}

#more {
  padding-bottom: 4%;
}
#more .more {
  text-align: center;
}
#more .more__apple {
  font-weight: 400;
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin: 4%;
}
#more .more__store {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin: 6%;
}
#more .more__cards {
  display: flex;
  justify-content: center;
}
#more .more__cards__carta {
  width: 22%;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 2% 1%;
  margin: 0 1%;
}
#more .more__cards__carta--marta {
  padding: 3% 0;
}
#more .more__cards__carta--marta__free {
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #252B42;
}
#more .more__cards__carta--marta__hand {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #374754;
}
#more .more__cards__carta__terminal {
  display: flex;
  flex-direction: row;
  padding: 4% 0;
}
#more .more__cards__carta__terminal__status {
  font-weight: 900;
  font-size: 55px;
  line-height: 66px;
  letter-spacing: 0.2px;
  color: #252B42;
}
#more .more__cards__carta__terminal__elem {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 10px;
}
#more .more__cards__carta__terminal__elem__dollar1 {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #252B42;
}
#more .more__cards__carta__terminal__elem__dollar2 {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #374754;
}
#more .more__cards__carta__buttons {
  display: flex;
  justify-content: center;
}
#more .more__cards__carta__buttons__btn {
  background: #38A3F1;
  border-radius: 35px;
  padding: 18px 38px;
}
#more .more__cards__carta__buttons__btn:hover {
  background: #9dc5e3;
  color: #374754;
}
#more .more__cards .card3 {
  background: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
  border: 1px solid #DEDEDE;
  box-sizing: border-box;
  box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
}

#react {
  background: #D6EBFF;
}
#react .react {
  display: flex;
  flex-direction: column;
}
#react .react__contact {
  font-weight: 400;
  font-size: 46px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252B42;
  padding-top: 8%;
}
#react .react__p1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252B42;
  margin: 20px;
}
#react .react__inter {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 3%;
  width: 28.33%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}
#react .react__inter__h01 {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 14.3816px;
  line-height: 22px;
  letter-spacing: 0.065371px;
  color: #252B42;
}
#react .react__inter__input1 {
  width: 318.72px;
  height: 35.84px;
  left: 41px;
  top: 79px;
  background: #F5F5F5;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 39px;
  margin: 20px 0;
}
#react .react__inter__input2 {
  margin: 20px 0;
  width: 318.72px;
  height: 35.84px;
  left: 41px;
  top: 145.84px;
  background: #F5F5F5;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 39px;
}
#react .react__inter__text {
  color: #374754;
  width: 318.72px;
  height: 126.17px;
  left: 41px;
  top: 212.68px;
  background: #F5F5F5;
  border: 0.65371px solid #FFFFFF;
  box-sizing: border-box;
  margin: 20px 0;
}
#react .react__batl {
  margin: 4px 0;
}
#react .react__batl--byter {
  color: #FFFFFF;
  background: #EF2779;
  border-radius: 35px;
  padding: 10px 35px;
  transition: 2s;
}
#react .react__batl--byter:hover {
  background: #7834BE;
  color: #252B42;
}

.react__adress {
  display: flex;
  justify-content: space-around;
}

.react__spring {
  padding-top: 15%;
}
.react__spring--wiss__items {
  margin: 20px 0;
}
.react__spring--wiss__items .icons {
  margin-right: 20px;
  color: #EF2779;
}
.react__spring--wiss__items .text__adress {
  width: 40%;
  margin-left: 10px;
  font-family: sans-serif;
  color: #252B42;
}
.react__spring--wiss__items__inli {
  display: flex;
  padding-top: 30px;
}
.react__spring--wiss__items__inli__logo {
  margin: 0 20px;
}

#pages {
  padding-top: 60px;
}
#pages .pages {
  display: flex;
  margin-left: 40px;
  justify-content: space-between;
}
#pages .pages__land__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}
#pages .pages__land__nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 80px;
}
#pages .pages__land__nav__menu {
  width: 100%;
  font-family: sans-serif;
  font-size: 0.9em;
  color: #FFFFFF;
  margin: 10px 0;
}

.pages__spring1--wiss2__items3 {
  margin: 20px 0;
}
.pages__spring1--wiss2__items3 .icons4 {
  margin-right: 20px;
  color: #EF2779;
}
.pages__spring1--wiss2__items3 .text__adress4 {
  width: 40%;
  margin-left: 10px;
  font-family: sans-serif;
  color: #FFFFFF;
}
.pages__spring1--wiss2__inli4 {
  display: flex;
  padding-top: 30px;
}
.pages__spring1--wiss2__inli4__logo5 {
  margin: 0 20px;
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
