@import "reset";
@import "variables";
@import "media";

body {
  background: #252B42;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

//**header**//
#header {
  position: absolute;
  width: 100%;
  padding: 15px 0;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

  &__img {
    width: 186px;
    height: 58px;
    left: 10px;
    top: 10px;
}

    &__nav {
      &--item {
        margin: 0 10px;
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 27px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;

        &:hover {
          color: #76e5bc;
          transition: .5s;
          cursor: pointer;
        }
      }
    }

    &__submit {
      display: flex;
      justify-content: space-between;

      &__label {
        background: #EFEFEF;
        border: 1px solid #E8E8E8;
        box-sizing: border-box;
        border-radius: 39px;
        padding: 6px 60px;
        margin: 0 5%;

        &__input {
          background: #EFEFEF;
          outline: none;
          border: none;
          width: 90%;
          padding: 5%;
        }
      }

      &__btn {
        background: #FFFFFF;
        border-radius: 35px;
        padding: 10px 25px;

        &:hover {
          background: #9dc5e3;
          transition: .5s;
          cursor: pointer;
        }
      }
    }
  }
}
//**header**//




//**hero**//
#hero {
  background: url("../img/bg1.png") no-repeat center/cover;
  min-height: 100vh;

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__pig {
      margin-left: -150px;
      margin-top: 15%;
      &__img {
        width: 949.9px;
        height: 531.13px;
        left: 16.43px;
        top: 16.43px;
      }
    }


    &__title {
      margin-top: 30%;
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 55px;
      line-height: 66px;
      letter-spacing: 0.2px;
      color: #FFFFFF;
    }

    &__desc {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.2px;
      padding: 25px 0;
      color: #FFFFFF;
    }

    &__btn2 {
      background: #FFFFFF;
      border-radius: 35px;
      padding: 16px 40px;

      &:hover {
        background: #9dc5e3;
        transition: .5s;
        cursor: pointer;
        color: #039a63;
      }
    }
  }
}
//**hero**//


//**Code**//
#code {
  .code {
    margin: 6% 0;

    &__top {
      color: #FFFFFF;
      text-align: center;
    }

    &__rop {
      color: #FFFFFF;
      text-align: center;
      font-size: 46px;
      padding: 2% 0;
    }

    &__not {
      color: #FFFFFF;
      text-align: center;

    }

  }

  .code__option {
    display: flex;
    justify-content: space-between;


    &--elem {
      padding: 6%;

      .code-menu {
        display: flex;
        flex-direction: row;


        .code__caps {
          font-size: 22px;
          line-height: 33px;
          letter-spacing: 0.1px;
          color: #FFFFFF;
        }
      }

      .shift {
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
      }
    }
  }

}
//**Code**//


//GitHub//
#gitHub {
  .github{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .gitHub {
    margin-bottom: 30px;

    &__fn {
      font-size: 46px;
      line-height: 70px;
      text-align: center;
      letter-spacing: 0.2px;
      color: #FFFFFF;
    }

    &__clone {
      font-size: 16px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.2px;
      color: #FFFFFF;
    }

    &__buttons {
      margin-bottom: 50px;
      background: #38A3F1;
      border-radius: 35px;
      padding: 16px 45px;

      &:hover {
        background: #9dc5e3;
        transition: .5s;
        cursor: pointer;
        color: #252B42;
      }
    }

    &__fff {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
//GitHub//


//Color//
#color {
  margin-bottom: 30px;

  .color {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &__box {
      padding-top: 60px;
      font-size: 22px;
      line-height: 33px;
      text-align: center;
      letter-spacing: 0.1px;
      color: #FFFFFF;
    }

    &__fox {
      margin: 20px;
      font-size: 46px;
      line-height: 57px;
      text-align: center;
      letter-spacing: 0.2px;
      color: #FFFFFF;
    }

    &__fas {
      font-size: 22px;
      line-height: 33px;
      letter-spacing: 0.1px;
      color: #FFFFFF;

    }


    &__fes {
      font-size: 15px;
      line-height: 27px;
      letter-spacing: 0.2px;
      color: #FFFFFF;
    }

    &__cusok {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 50px 0;

      &__aser {
        background: #F4F4F4;
        border: 1px solid #E8E8E8;
        box-sizing: border-box;
        border-radius: 39px;
        padding: 8px 54px;
        margin: 10px 0;

        &__reset {
          background: #EFEFEF;
          outline: none;
          border: none;
          width: 90%;
          padding: 5%;

        }
      }

      &__index {
        background: #EF2779;
        border-radius: 35px;
        padding: 15px 95px;
        &:hover {
          background: #9dc5e3;
          transition: .5s;
          cursor: pointer;
          color: #252B42;
        }

      }
    }
  }
}
//Color//

//BOOK//
#book {
  .book {
    &__groups {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .book__figma{
      margin-left: 40px;
    }


    &__lobel {
      font-family: sans-serif;
      font-size: 18px;
      line-height: 37px;
      letter-spacing: 0.2px;
      color: #FFFFFF;
      width: 20vw;
      margin: 20px 0;
      text-align: center;
    }

    &__text {
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.1px;
      color: #FFFFFF;
      margin: 20px 0;
      text-align: center;

    }

    &__import {
      margin-left: 110px;
    }


    &__h1 {
      text-align: center;
      color: #FFFFFF;
      font-size: 46px;
      margin: 20px;
    }

    &__font {
      text-align: center;
      color: #FFFFFF;
      font-weight: bold;
      letter-spacing: 0.2px;
      margin: 20px;
    }

    &__movie {
      display: flex;
      justify-content: center;
      margin: 80px;

      &__none {
        margin: 40px;
        color: #FFFFFF;
        padding: 16px 60px;
        background: #38A3F1;
        border-radius: 35px;
        &:hover {
          background: #9dc5e3;
          transition: .5s;
          cursor: pointer;
          color: black;
        }
      }
    }
  }
}
//BOOK//


//DROP//
#drop {
  .drop {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__lopes {
      text-align: center;
      color: #FFFFFF;
      font-size: 40px;
    }

    &__url {
      margin: 50px;
    }

    &__yers {
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.2px;
      color: #FFFFFF;
      margin: 60px;
    }

    &__img-s {
      position: absolute;
      left: 43%;
      top: 561%;
      padding-top:170px;
    }

    &__h5 {
      font-size: 12px;
      letter-spacing: 0.1px;
      color: #FFFFFF;
      margin: 5px;
    }

    &__h4 {
      font-weight: 400;
      font-size: 15px;
      line-height: 27px;
      letter-spacing: 0.2px;
      color: #FFFFFF;
    }

    &__html {
      display: flex;
      flex-direction: column;
      align-items: center;

      &--buts {
        background: #38A3F1;
        border-radius: 35px;
        padding: 16px 47px;
        margin: 6%;
        color: #FFFFFF;
        transition: .2s;
        &:hover {
          background: #9dc5e3;
          color: #252B42;
        }
      }
    }
  }
}
//DROP//


//MORE//
#more {
  padding-bottom: 4%;
  .more {
    text-align: center;

    &__apple {
      font-weight: 400;
      font-size: 46px;
      line-height: 57px;
      letter-spacing: 0.2px;
      color: #FFFFFF;
      margin: 4%;
    }

    &__store {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: #FFFFFF;
      margin: 6%;
    }

    &__cards {
      display: flex;
      justify-content: center;

      &__carta {
        //width: 22%;
        background: #FFFFFF;
        border-radius: 10px;
        padding: 2% 1%;
        margin: 20px;

        &--marta {
          padding: 3% 0;

          &__free {
            font-weight: 700;
            font-size: 22px;
            line-height: 33px;
            letter-spacing: 0.1px;
            color: #252B42;
          }

          &__hand {
            font-weight: 700;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.1px;
            color: #374754;
          }
        }
        &__terminal {
          display: flex;
          flex-direction: row;
          padding: 4% 0;

          &__status {
            font-weight: 900;
            font-size: 55px;
            line-height: 66px;
            letter-spacing: 0.2px;
            color: #252B42;
          }

          &__elem {
            display: flex;
            flex-direction: column;
            align-items: start;
            margin-left: 10px;
            &__dollar1 {
              font-family: sans-serif;
              font-weight: 700;
              font-size: 22px;
              line-height: 33px;
              letter-spacing: 0.1px;
              color: #252B42;
            }
            &__dollar2 {
              font-weight: 700;
              font-size: 12px;
              line-height: 18px;
              letter-spacing: 0.1px;
              color: #374754;
            }

          }
        }

        &__buttons {
          display: flex;
          justify-content: center;

          &__btn {
            background: #38A3F1;
            border-radius: 35px;
            padding: 18px 38px;
            &:hover {
              background: #9dc5e3;
              color: #374754;
            }
          }
        }
      }

      .card3{
        background: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
        border: 1px solid #DEDEDE;
        box-sizing: border-box;
        box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
      }
    }
  }
}


//MORE//

//REACT//
#react {
  background: #D6EBFF;
  .react {
    display: flex;
    flex-direction: column;
    &__contact {
      font-weight: 400;
      font-size: 46px;
      line-height: 57px;
      text-align: center;
      letter-spacing: 0.2px;
      color: #252B42;
     padding-top: 8%;
    }
    &__p1 {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.2px;
      color: #252B42;
      margin: 20px;
    }
    &__inter {
      background: #FFFFFF;
      border-radius: 10px;
      padding: 3%;
      width: 28.33%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 50px;
      &__h01 {
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-size: 14.3816px;
        line-height: 22px;
        letter-spacing: 0.065371px;
        color: #252B42;
      }
      &__input1 {
        width: 318.72px;
        height: 35.84px;
        left: 41px;
        top: 79px;
        background: #F5F5F5;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 39px;
        margin: 20px 0;
      }
     &__input2 {
       margin: 20px 0;
       width: 318.72px;
       height: 35.84px;
       left: 41px;
       top: 145.84px;
       background: #F5F5F5;
       border: 1px solid #FFFFFF;
       box-sizing: border-box;
       border-radius: 39px

     }
      &__text {
        color: #374754;
        width: 318.72px;
        height: 126.17px;
        left: 41px;
        top: 212.68px;
        background: #F5F5F5;
        border: 0.65371px solid #FFFFFF;
        box-sizing: border-box;
        margin: 20px 0;
      }
    }
    &__batl {
      margin: 4px 0;
      &--byter {
        color: #FFFFFF;
        background: #EF2779;
        border-radius: 35px;
        padding: 10px 35px;
        transition: 2s;
        &:hover {
       background: #7834BE;
          color: #252B42;
        }
      }
    }
   }
 }

.react__adress{
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}
.react__spring{
  padding-top: 15%;

  &--wiss{
    &__items{
      margin: 20px 0;
      .icons{
        margin-right: 20px;
        color: #EF2779;
      }
      .text__adress{
        width: 40%;
        margin-left: 10px;
        font-family: sans-serif;
        color: #252B42;
        &:hover {
          color: #EF2779;
        }
      }
     &__inli {
       display: flex;
       padding-top: 30px;
       &__logo{
         margin: 0 20px;
       }
     }
    }
  }
}
//REACT//




//PAGES//
#pages {
  padding-top: 60px;
  .pages {
    display: flex;
    margin-left: 40px;
    justify-content: space-between;
    &__maps{
      //margin-left: 70px;
    }

    &__land {
      &__title {
        font-weight: 700;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.1px;
        color: #FFFFFF;
      }

      &__nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: 80px;

        &__menu {
          width: 100%;
          font-family: sans-serif;
          font-size: .9em;
          color: #FFFFFF;
          margin: 10px 0;
          transition: .1s;
          &:hover {
            color: #EF2779;
          }
        }
      }

    }
  }
}
.pages__spring1 {
    &--wiss2 {
      &__items3 {
        margin: 20px 0;

        .icons4 {
          margin-right: 20px;
          color: #EF2779;
        }

        .text__adress4 {
          width: 40%;
          margin-left: 10px;
          font-family: sans-serif;
          color: #FFFFFF;
          &:hover {
            color: #EF2779;
          }
        }
      }

      &__inli4 {
        display: flex;
        padding-top: 30px;

        &__logo5 {
          margin: 0 20px;
          color: #FFFFFF;
        }
      }
    }
  }



//PAGES//







































