@import "reset";
@import "variables";

body {
  background: #252B42;
}

.container {
  width: 1140px;
  margin: auto;
}

//header
#header {
  position: absolute;
  width: 100%;
  padding: 15px 0;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__nav {
      &--item {
        margin: 0 10px;
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 27px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        &:hover{
          color: #252B42;
          transition: .5s;
          cursor: pointer;
        }
      }
    }

    &__submit {
      display: flex;
      justify-content: space-between;

      &__label {
        background: #EFEFEF;
        border: 1px solid #E8E8E8;
        box-sizing: border-box;
        border-radius: 39px;
        padding: 6px 60px;
        margin: 0 5%;

        &__input {
          background: #EFEFEF;
          outline: none;
          border: none;
          width: 90%;
          padding: 5%;
        }
      }

      &__btn {
        background: #FFFFFF;
        border-radius: 35px;
        padding: 10px 25px;
        &:hover{
          background: #8d1515;
          transition: .5s;
          cursor: pointer;
        }
      }
    }
  }
}

//header


//**hero**//
#hero {
  background: url("../img/bg1.png") no-repeat center/cover;
  min-height: 100vh;

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__pig {
      margin-left: -150px;
    }

    &__title {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 55px;
      line-height: 66px;

      letter-spacing: 0.2px;
      color: #FFFFFF;
    }

    &__desc {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.2px;
      padding: 25px 0;
      color: #FFFFFF;
    }

    &__btn2 {
      background: #FFFFFF;
      border-radius: 35px;
      padding: 16px 40px;
      &:hover{
        background: #8d1515;
        transition: .5s;
        cursor: pointer;
      }

    }
  }
}

//**hero**//


//**Code**//
#code {
  .code {
    margin: 6% 0;

    &__top {
      color: #FFFFFF;
      text-align: center;
    }

    &__rop {
      color: #FFFFFF;
      text-align: center;
      font-size: 46px;
      padding: 2% 0;
    }

    &__not {
      color: #FFFFFF;
      text-align: center;

    }

  }

  .code__option {
    display: flex;
    justify-content: space-between;


    &--elem {
      padding: 6%;

      .code-menu {
        display: flex;
        flex-direction: row;

        .code__caps {
          font-size: 22px;
          line-height: 33px;
          letter-spacing: 0.1px;
          color: #FFFFFF;
        }
      }

      .shift {
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
      }
    }
  }

}

//**Code**//


//GitHub
#gitHub {
  .gitHub {
    margin-bottom: 30px;

    &__fn {
      font-size: 46px;
      line-height: 70px;
      text-align: center;
      letter-spacing: 0.2px;
      color: #FFFFFF;
    }

    &__clone {
      font-size: 16px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.2px;
      color: #FFFFFF;
    }

    &__buttons {
      margin-bottom: 50px;
      background: #38A3F1;
      border-radius: 35px;
      padding: 16px 45px;
      margin-left: 42%;
      &:hover{
        background: #8d1515;
        transition: .5s;
        cursor: pointer;
      }
    }

    &__fff {
      margin-left: 50px;
      line-height: 30px;
    }
  }
}

//GitHub


//Color
#color {
  margin-bottom: 30px;

  .color {
    margin: 170px;
    &__box {
      font-size: 22px;
      line-height: 33px;
      text-align: center;
      letter-spacing: 0.1px;
      color: #FFFFFF;
    }

    &__fox {
      margin: 20px;
      font-size: 46px;
      line-height: 57px;
      text-align: center;
      letter-spacing: 0.2px;
      color: #FFFFFF;
    }

    &__fas {
      font-size: 22px;
      line-height: 33px;
      letter-spacing: 0.1px;
      color: #FFFFFF;
      margin-left: 34%;

    }

    &__fes {
      font-size: 15px;
      line-height: 27px;
      letter-spacing: 0.2px;
      color: #FFFFFF;
      margin-left: 36%;
    }

    &__cusok {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 50px;

      &__aser {
        background: #F4F4F4;
        border: 1px solid #E8E8E8;
        box-sizing: border-box;
        border-radius: 39px;
        padding: 9px 54px;
        margin: 10px;
        &__reset {
          background: #EFEFEF;
          outline: none;
          border: none;
          width: 90%;
          padding: 5%;

        }
      }

      &__index {
        background: #EF2779;
        border-radius: 35px;
        padding: 15px 95px;
        &:hover{
          background: #8d1515;
          transition: .5s;
          cursor: pointer;
        }

      }
    }
  }
}

//Color

//BOOK
#book {
  .book {
    &__groups{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    &__lobel {
      font-family: sans-serif;
      font-size: 18px;
      line-height: 37px;
      letter-spacing: 0.2px;
      color: #FFFFFF;
      width: 20vw;
      margin: 20px 0;
      text-align: center;
    }
    &__text {
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.1px;
      color: #FFFFFF;
     margin: 20px 0;
      text-align: center;

    }
   &__import {
    margin-left: 110px;
   }


   &__h1 {
     text-align: center;
     color: #FFFFFF;
     font-size: 46px;
     margin: 20px;
   }
    &__font {
      text-align: center;
      color: #FFFFFF;
      font-weight: bold;
      letter-spacing: 0.2px;
      margin: 20px;
    }

    &__movie {
      display: flex;
      justify-content: center;
      margin: 80px;
      &__none {
        margin: 40px;
        color: #FFFFFF;
        padding: 16px 60px;
        background: #38A3F1;
        border-radius: 35px;
        &:hover{
          background: #8d1515;
          transition: .5s;
          cursor: pointer;
        }
      }
    }
  }
}

//BOOK


//DROP
#drop {
  .drop {
    display: flex;
    flex-direction: column;
    align-items: center;

  &__lopes {
    text-align: center;
    color: #FFFFFF;
    font-size: 40px;
  }
  &__url {
  margin: 50px;
  }
  &__yers {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
  }

  }
}
//DROP





















